<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>しゅくまる.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1917F8741F5AFBB90070C44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1917F88A1F5AFBBA0070C44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1917F8951F5AFBBA0070C44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
